<main id="app-content" role="main" class="container">
    <div class="content-body">
    </div>
    <div class="content-load">
        <i class='fa fa-spinner fa-pulse fa-3x'></i>
        <br> Loading Page..
    </div>
</main>

<script>
    $(document).ready(function () {
        var page = Util._GET("page");
        var body = $("#app-content .content-body");
        body.hide();
        var load = $("#app-content .content-load");
        var file = SITE_ROOT + "/page/" + page + ".html?v=" + HTML_VER;

        //return;
        $.get(file, function (data) {
            finishLoad(data);
        }).fail(function (err) {
            finishLoad(err.responseText);
        });

        function finishLoad(data) {
            data = Util.commentStyle(data);
            data = Util.replaceRootPath(data);
            //console.log(data);
            //console.log(body);
            body.html(data);
            body.show();
            load.hide();
        }
    });
</script>