/* Color */
$COLOR-RED-LIGHT: #e24434;
$COLOR-RED: #EF272F;
$COLOR-RED-DARK: #82180d;
 
$COLOR-BLUE-LIGHT: #41a3fc;
$COLOR-BLUE: #0154A1;
$COLOR-BLUE-DARK: #031533;

$COLOR-THEME-DARK : #4e841e;
$COLOR-THEME : #b5ef75;
$COLOR-THEME-LIGHT : #dbf2c6;

$COLOR-GRAY-LIGHT : #edf2f6;

$COLOR-YELLOW: #FADA0C;

/* Dimension */
$HEADER-HEIGHT : 75px;
$LEFT-WIDTH: 300px;