/* Color */
$COLOR-RED-LIGHT: #e24434;
$COLOR-RED: #EF272F;
$COLOR-RED-DARK: #82180d;
 
$COLOR-BLUE-LIGHT: #41a3fc;
$COLOR-BLUE: #0154A1;
$COLOR-BLUE-DARK: #031533;

$COLOR-THEME-DARK : #0b6623;
$COLOR-THEME-LIGHT : #F9F9FA;
$COLOR-THEME : #578a65;

//$COLOR-THEME-DARK : #4e841e;
//$COLOR-THEME-LIGHT : #edf5e6;

$COLOR-GRAY-LIGHT : #edf2f6;

$COLOR-YELLOW: #FADA0C;

/* Dimension */
$HEADER-HEIGHT : 75px;
$LEFT-WIDTH: 300px;