@import '_constant.scss';
/** * {
    word-break: keep-all !important;
    overflow-wrap: break-word;
}*/

.break-all {
    word-break: break-all !important;
}

html,
body.kop-main {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body.kop-main {
    //background: $COLOR-GRAY-LIGHT;
    background: $COLOR-THEME-LIGHT;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.kop-header,
.kop-footer,
.kop-left-bar {
    /* to prevent padding go more than 100% width */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.kop-header {
    height: $HEADER-HEIGHT;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.kop-bar-content {
    display: flex;
    width: 100%;
}

.kop-left-bar {
    /* to prevent padding go more than 100% width */
    padding-top: $HEADER-HEIGHT + 5;
    width: $LEFT-WIDTH;
    background-color: $COLOR-BLUE;
    min-height: 100%;
    z-index: 1;
    position: fixed;
}

.kop-content {
    padding: 10px;
    padding-top: $HEADER-HEIGHT + 10;
    padding-left: $LEFT-WIDTH;
    background: $COLOR-GRAY-LIGHT;
    min-height: 80vh;
    width: 100%;
}

.kop-footer {
    padding: 10px;
    padding-left: $LEFT-WIDTH + 10;
    background: $COLOR-BLUE-DARK;
    color: white;
    height: 30px;
}

/*
@media only screen and (min-width: 1000px) {
    .primary-layout.landing-page {
        header {
            padding: 0 111px;
        }
    }
}

@media only screen and (max-width: $LAYOUT_MD) {
    header,
    .content,
    footer {
        padding-left: $LEFTBAR_MD_WIDTH;
    }
    left_bar {
        width: $LEFTBAR_MD_WIDTH;
    }
    .content {
        flex-flow: column;
        .main {
            padding: 15px;
            flex: 1;
        }
        right_bar {
            flex: 1;
            min-height: 100px;
            min-width: 100%;
        }
    }
}



@media only screen and (max-width: $LAYOUT_SM) {
    header,
    .content,
    footer {
        padding-left: 0;
    } //hide left bar and position it under header bar
    left_bar {
        width: 100%;
        height: $LEFTBAR_SM_HEIGHT;
        top: $HEADER-HEIGHT);
        z-index: 2;
        display: flex;
        align-items: center;
    }
    .content {
        padding-top: $HEADER_HEIGHT + $LEFTBAR_SM_HEIGHT;
        .main {
            padding: 10px;
        }
    }

}
*/