@import '_constant.scss';
#app-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    background: #EAEAEA;
    font-style: italic;
    padding: 20px;
    padding-bottom: 40px;
    #copyright {
        color: $COLOR-THEME-DARK;
    }
}